* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  align-items: center;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-translate-buttons{
  border: none;
  background-color: transparent;
  margin-right: 1rem;
  cursor: pointer;
  outline: none;
}

.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 7rem;
  margin-top: 3rem;
}

.rectangle-rounded-corners {
  max-width: 657px;
  max-height: 485px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: lightgray;
  padding: 20px;
  font-size: 4em;
  color: gray;
}

.primary-heading {
  font-size: clamp(1rem, 5vw, 2.3rem);
  color: #24796B;
  /* line-height: 5rem; */
  max-width: 600px;
}

.secondary-heading {
  font-size: clamp(1rem, 1.5rem, 2.5rem);
  color: #35424A;
  max-width: 750px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.4rem);
  /* max-width: 500px; */
  color: #333333;
  margin: 1.5rem 0rem;
}

.about-section-container {
  margin-top: 8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}

.contact-page-wrapper h1 {
  max-width: 900px !important;
}

.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}

.contact-form-container {
  background-color: white;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 5rem;
  flex: 1;
}

.contact-section-info {
  max-width: 1338px;
  /* min-height: 210px; */
  background-color: white;
  padding: 1rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #777676;
  margin: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.footer-wrapper {
  display: flex;
  background: #24796B;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  margin-top: 5rem;
}

.home-custom-logo {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #000000;
}

.footer-logo-container {
  max-width: 110px;
}

.footer-custom-logo {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #F9F9F9;
  margin-left: 4rem;
}

.custom-logo-underline {
  text-decoration: underline;
  text-decoration-color: #50CCA9;
}

.footer-icons {
  margin-top: 2.5rem;
}

.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #F9F9F9;
}

.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.footer-section-row {
  display: flex;
  flex-direction: row;
  min-width: 190px;
  padding: 1rem 1rem 1rem 1rem;
  font-size: large;
}

.footer-section-row span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #F9F9F9;
  cursor: pointer;
}


.card-icon {
  width: 5em;
  height: 5em;
  color: #24796B;
}

.nosotros-section-info {
  max-width: 180px;
  max-height: 180px;
  width: 180px;
  height: 180px;
  background-color: white;
  /* padding: 1rem 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #777676;
  margin: 1rem 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.work-section-info h2 {
  margin: 1rem 0rem;
}

.nosotros-section-bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nosotros-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.form-page-wrapper {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin: 1rem;
}

.form-section-bottom {
  margin-top: 1rem;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 40px;
}

.form-section-info {
  width: 27%;
}

.form-input {
  height: 68px;
  width: 100%;
  text-align: start;
  border-radius: 1rem;
  color: black;
  font-size: larger;
  padding: 0 0 0 15px;
}

.form-input-comentario {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
  border-radius: 1rem;
  color: black;
  font-size: larger;
  padding: 15px 0 0 15px;
}

.primary-button {
  width: 300px;
  padding: 0.9rem 1.75rem;
  background-color: #24796B;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  color: white;
}

.primary-button:hover {
  background-color: #50CCA9;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .primary-button {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
  }

  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .about-section-container {
    flex-direction: column;
  }

  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }

  .primary-heading {
    text-align: center;
    max-width: 90%;
  }


  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }

  .about-section-container {
    margin-top: 5rem !important;
  }

  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }

  .primary-subheading {
    text-align: center;
  }

  .about-section-image-container {
    margin-right: 0rem !important;
  }

  .work-section-wrapper {
    margin-top: 5rem !important;
  }

  .work-section-bottom {
    margin-top: 1rem !important;
  }

  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }

  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }

  .footer-wrapper {
    flex-direction: column;
    width: 100vw;
  }

  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer-section-columns {
    margin: 1rem 0rem;
  }

  .App {
    max-width: 95vw;
  }
}